BACKEND_API_URL=
MASTERDATA_BACKEND_API_URL=

APP_MNEMONIC="registry-ui"
APP_URL="http://localhost:3000"

PARTNER_IMPORT_EXPORT_ENABLE="true"
PARTNER_INGEST_URL=

VERIFY_SERVICE_URL=
VP_CLIENT_ID=
VP_PRESENTATION_ID=
VP_PURPOSE=

PAGE_SIZE=10

IAM_URL=
KEYCLOAK_LOGOUT_URL=
LOGIN_PROVIDER_ID=
APPLICATION_MNEMONIC=